apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "status-page.fullname" . }}
  labels:
    {{- include "status-page.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "status-page.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "status-page.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.app }}
          command: {{ .command | toYaml | nindent 12 }}
          args: {{ .args | toYaml | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: {{ .Values.app.port }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
